.dark-container {
  background: #192734;
  color: #FFFFFF;
  width: 100vw;
  height: 100vh;
}

.centered {
  text-align: center;
}

.main-content {
  margin-top: 10% !important;
}

.secondary-text {
  color: #8899A6 !important;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100% !important;
  margin-bottom: 12px;
}
